
@font-face{
  font-family: 'Bodoni Moda';
  font-display: swap;
  src: url('../font/BodoniModa-Italic-VariableFont_opsz,wght.ttf') format("truetype");
}

@font-face{
  font-family: 'Note Serif SC';
  font-display: swap;
  src: url('../font/NotoSerifSC-Regular.otf') format("truetype");
}
@font-face{
  font-family: '霞鹜臻楷';
  font-display: swap;
  src: url('../font/霞鹜臻楷.ttf') format("truetype");
}

body {
  font-family: 'Note Serif SC', sans-serif, "Microsoft YaHei","Microsoft JhengHei",'霞鹜臻楷',"PingFang SC";
}